
{{> nav/navbar}}
<br><br>
<ul id="user-list">
  {{#each users}}
  <li data-id="{{this.id}}" class="list-group-item">
    {{> userInfo/profile}}
  </li>
  {{/each}}
</ul>
<a href="/">← Back To Home</a>

