{{> nav/navbar-homepage}}


<div class="row homepage-row">
  <div class="col s12">
    <div class="">
      <div class="container">
        <div class="row ">
          <h1 class="homepage-h1">LOCALIZE</h1>
          <input id="address" class="big-search" placeholder="Where Are You Headed?" />
        </div>
        <div class="row  contain-center-align">
          <a href="/new_trip">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-search buttonsize">
                Let's Go!
              </span>
            </button>
          </a>
        </div>
      </div>
      {{!-- <div class="parallax"></div> --}}
    </div>
  </div>
</div>
<div class="row homepage-row">
  <div class="parallax">
    <div class="col s6 homepage-content-div">
      <h3>Travel Like a Local</h3>
      <p>Localize is a tool that helps you plan your next adventure. Just tell us where you are traveling and what your
        interests are,
        and we'll have a look at our database of users across the country for cool, fun people to be your guide!
      </p>
      <p>Whether you're into music, restaurants, museums, or whatever, Localize is the best way to meet and coordinate
        with enthiusiastic
        guides in your destination city. Get out there and travel like a local!
      </p>
    </div>
  </div>
</div>

<div class="row homepage-row">
  <div class="col s12 m4 l4 homepage-content-div">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas
      quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
  </div>
  <div class="col s12 m4 l4 homepage-content-div">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas
      quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
  </div>
  <div class="col s12 m4 l4 homepage-content-div">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas
      quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
  </div>
</div>
<div class="row homepage-row">
  <div class="col s12">
    <div class="parallax">
    </div>
  </div>
</div>
<div class="row homepage-row">
  <div class="col s6 homepage-content-div">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas
      quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
  </div>
  <div class="col s6 homepage-content-div">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas
      quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
  </div>
</div>
<div class="row homepage-row">
  <div class="col s12 homepage-content-div">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas
      quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
  </div>
</div>

<script src="/js/homepage.js"></script>