{{> nav/navbar-no-search}}

<div class="parallax-container">
  <div class="container">
    <div class="row">
      <h1 class="homepage-h1">LOCALIZE</h1>
      <input id="address" class="big-search" placeholder="Where Are You Headed?" />
    </div>
    <div class="row contain-center-align">
      <a href="/trip">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-search buttonsize">
            Let's Go!
          </span>
        </button>
      </a>

    </div>
  </div>
  <div class="parallax"><img src="imgs/nikola-jovanovic-198375-unsplash.jpg"></div>
</div>


<div>
  <div class="container">
    <div class="row">
      <a href="/viewmembers">View All Members</a>
     
     <a href="/viewtrips">View All Trips</a>


      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, obcaecati. Incidunt, minus quod ea, cumque
        tempora quis laudantium nostrum natus saepe hic, blanditiis perspiciatis. Placeat labore vel omnis libero at.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, impedit! Illum labore ipsum sit quis earum, a
        numquam explicabo molestiae neque rem rerum aliquam, repellendus atque beatae ipsam possimus alias.</p>
    </div>
  </div>

</div>

<div class="parallax-container">
  <div class="parallax"><img src="https://picsum.photos/1200/1200"></div>
</div>

<br>
<br>