{{> nav/navbar-no-search}}


  <div class="row homepage-row">
    <div class="col s12">
      <div class="parallax">
        <div class="container">
          <div class="row ">
            <h1 class="homepage-h1">LOCALIZE</h1>
            <input id="address" class="big-search" placeholder="Where Are You Headed?" />
          </div>
          <div class="row  contain-center-align">
            <a href="/new_trip">
              <button class="btn btn-default">
                <span class="glyphicon glyphicon-search buttonsize">
                  Let's Go!
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="parallax"></div>
      </div>
    </div>
  </div>
  <div class="row homepage-row">
    <div class="col s12 homepage-content-div">
      <a href="/users">View All Members</a>

      <a href="/trips">View All Trips</a>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, obcaecati. Incidunt, minus quod ea, cumque
        tempora quis laudantium nostrum natus saepe hic, blanditiis perspiciatis. Placeat labore vel omnis libero at.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, impedit! Illum labore ipsum sit quis earum, a
        numquam explicabo molestiae neque rem rerum aliquam, repellendus atque beatae ipsam possimus alias.</p>
    </div>
  </div>
  
  <div class="row homepage-row">
    <div class="col s12 m4 l4 homepage-content-div">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
    </div>
    <div class="col s12 m4 l4 homepage-content-div">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
    </div>
    <div class="col s12 m4 l4 homepage-content-div">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p>
    </div>
  </div>
  <div class="row homepage-row">
    <div class="col s12">
      <div class="parallax">
      </div>
    </div>
  </div>
  <div class="row homepage-row">
    <div class="col s6 homepage-content-div"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p></div>
    <div class="col s6 homepage-content-div"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p></div>
  </div>
  <div class="row homepage-row">
    <div class="col s12 homepage-content-div"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur libero itaque aliquam voluptas quisquam voluptatum unde illo quae, assumenda at sequi quas, officia qui quasi odit iusto. Ab, mollitia!</p></div>
  </div>


<br>
<br>
<script src="/js/homepage.js"></script>
