{{> nav/navbar}}
<a href="/users">View All users</a>
<a href="/trips">View All Trips</a>

 <main>
      <section style="background-image: url('https://www.wheretraveler.com/sites/default/files/styles/promoted_image_social_large/public/Mon_0524_0.jpg?itok=QzFI6TmJ');background-repeat: no-repeat;
      background-position: center; background-size:cover;"
        id="intro index-banner" class="parallax-container section scrollspy full-height">
      </section>
      <section id = "about" style="background-image: url('https://media1.fdncms.com/stranger/imager/u/original/28360159/28165214_1868199416546842_607019053175056954_o.jpg'); position: relative;background-repeat: no-repeat;
    background-position: center; background-size:cover;"
     class="parallax-container section scrollspy full-height">
      <div class="container flow-text">
          <h3 id="motto">Some sample text in the middle</h3>
        <p>This is some silly text description</p>
      </div>
    </section>
    <section id="experience" style="background-image: url('https://tulipfestival.org/images/cms/_1800x700/about-the-festival.jpg'); position: relative;background-repeat: no-repeat;
    background-position: center; background-size:cover;"
     class="parallax-container section scrollspy full-height">
     
      <div class="container flow-text">
          <h3 id="motto">Some sample text in the middle</h3>
        <p>This is some silly text description</p>
      </div>
    </section>
    <section id="projects" style="background-image: url('https://cdn.audubon.org/cdn/farfuture/cmCwN1GiqkRrLjYq8tq3ssHjWjVWhz2EBLTiViuBqeo/mtime:1528493280/sites/default/files/styles/hero_image/public/olympic.jpg?itok=QgAVo9os'); position: relative;background-repeat: no-repeat;
    background-position: center; background-size:cover;"
     class="parallax-container section scrollspy full-height">
      <div class="container flow-text">
          <h3 id="motto">Some sample text in the middle</h3>
        <p>This is some silly text description</p>
      </div>
    </section>
    <section id="skills" style="background-image: url('https://media2.trover.com/T/569759587eb4f43e3619309c/fixedw_large_4x.jpg'); position: relative;background-repeat: no-repeat;
    background-position: center; background-size:cover;"
     class="parallax-container section scrollspy full-height">
     
      <div class="container flow-text">
          <h3 id="motto">Some sample text in the middle</h3>
        <p>This is some silly text description</p>
      </div>
    </section>
    <section id="awards" style="background-image: url('https://grouptour.com/wp-content/uploads/2017/07/Rainier-Wildflowers-Courtesy-Don-Gyer-72DPI-e1501531094848.jpg'); position: relative;background-repeat: no-repeat;
    background-position: center; background-size:cover;"
     class="parallax-container section scrollspy full-height">
      <div class="container flow-text">
          <h3 id="motto">Some sample text in the middle</h3>
        <p>This is some silly text description</p>
      </div>
    </section>
    <section id="education" style="background-image: url('https://gradeslam.org/blog_images/247/cover.jpg'); position: relative;background-repeat: no-repeat;
    background-position: center; background-size:cover;"
     class="parallax-container section scrollspy full-height">
     
      <div class="container flow-text">
          <h3 class = "text-lighten-4">Some sample text in the middle</h3>
        <p>This is some silly text description</p>
      </div>
    </section>
    <section id="contact" class="section scrollspy full-height footer flexbox">
      <div class="footer-wrap">
          <ul class = "footer-links-list mod-footer-links-list-main">
        <li class = "footer-links-list-item">
            <a class="footer-link" href="https://google.com/">About</a>
        </li>
        <li class = "footer-links-list-item">
            <a class="footer-link" href="https://google.com/">About</a>
        </li>
        <li class = "footer-links-list-item">
            <a class="footer-link" href="https://google.com/">About</a>
        </li>
        <li class = "footer-links-list-item">
            <a class="footer-link" href="https://google.com/">About</a>
        </li>
        <li class = "footer-links-list-item">
            <a class="footer-link" href="https://google.com/">About</a>
        </li>
        </ul>
      </div>
    </section>
  </main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!--
<script src="/js/index.js"></script> --}}
<script src="js/cms.js" type="text/javascript"></script>