<style>
    .dropdown-trigger {
        background-color: rgb(252, 116, 161);
        color: white;
    }

</style>



<!-- Dropdown Trigger -->
<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Rate This Trip!</a>

<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>

    <li value="1"><a>1 <i class="material-icons">thumb_down</i> </a></li>
    <li value="2"><a>2</a></li>
    <li value="3"><a>3</a></li>
    <li value="4"><a>4</a></li>
    <li value="5"><a>5 <i class="material-icons">thumb_up</i> </a></li>

</ul>

{{!-- this can be used for both raiting trip and rating the host --}}
{{!-- temporary route can be found in html-routes.js you can view rating componen 12/02/18 Chi --}}