<!DOCTYPE html>
<html>
 
<head>
    <title></title>
    <style>
        h4 {color: darkgoldenrod;}
        #wrapper {
        padding: 50px 25% 0 25%;
        }
    </style>
</head>
 
<body>
    <div id="wrapper">
        <h4>Sign In</h4>
        <p>{{message}}</p>

        <form id="signin" name="signin" method="post" action="signin">
            <label for="email">Email Address</label>
            <input class="text" name="email" class="validate" type="text" />
            <label for="password">Password</label>
            <input name="password" class="validate" type="password" />
            <button class="waves-effect waves-light btn-large" type="submit" class="validate" value="Sign In" />
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</body>
 
</html>