<div id="navbar">
    {{> nav/navbar-signin}}
</div>

{{!-- {{> nav/navbar-signin}} --}}

<style>
    h4 {color: darkgoldenrod;}
        #wrapper {
        padding: 50px 25% 0 25%;
        }
    </style>

<div id="wrapper">
    <h3>Sign Up</h3>
    <p>{{message}}</p>

    <form id="signup" class="col s10 m10 l8" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />

        <label for="user_name">User Name</label>
        <input name="user_name" type="text" />

        <label for="first_name">First Name</label>
        <input name="first_name" type="text" />

        <label for="last_name">Last Name</label>
        <input name="last_name" type="text" />

        <label for="password">Password</label>
        <input name="password" type="password" />

        <label for="phone-number">Phone Number</label>
        <input type="number"  name="phonenumber">

        <label for="profile_pic_url" data-error="wrong" data-success="right">Profile Photo URL</label>
        <input type="text"  name="profile_pic_url">

        <label for="gender">Gender</label>
        <input type="text" name="gender">

        <label for="DOB"></label>
        <input type="date" class="datepicker" name="DOB">

        <label for="hometown">Hometown</label>
        <input type="text" name="hometown">

        <label for="bio">About Me</label>
        <input class="materialize-textarea" name="bio">

        {{!-- for future improvement, add option list --}}
        <label for="languages">What languages do you speak?</label>
        <input id="languages" class="materialize-textarea" name="languages">

        <label for="whyOn">Why I am on Localize</label>
        <input class="materialize-textarea" name="whyOn">

        <label for="one_Athing">One Amazing Thing I've Done</label>
        <input class="materialize-textarea" name="one_Athing">

        {{!-- i think we should skip this, very similar to personal interest --}}
        <label for="hobby">Favourite Music, Movies, and Books</label>
        <input class="materialize-textarea" name="hobby">

        {{!-- skip countries, too many question for now and we can get country from hometown when there's location option implemented --}}
        <label for="countries">Countries I’ve Lived In</label>
        <input class="materialize-textarea" name="countries">

        <label for="what_I_share">What can you share with other Localizers</label>
        <input class="materialize-textarea" name="what_I_share">


{{!-- KEVIN'S CHECK BOX INTERESTS --}}
<div class="row">
    <h5 class="centered-headline">What are your interests?</h5>
</div>
<div class="row" id="user-interests">
    <div class="interests">
        <div class="switch">
            <label>
                Food
                <input type="checkbox" name="food">
                <span class="lever"></span>
            </label>
        </div>
        <div class="switch">
            <label>
                Music
                <input type="checkbox" name="music">
                <span class="lever"></span>
            </label>
        </div>
        <div class="switch">
            <label>
                Concerts
                <input type="checkbox" name="concert">
                <span class="lever"></span>
            </label>
        </div>
        <div class="switch">
            <label>
                Sports
                <input type="checkbox" name="sports">
                <span class="lever"></span>
            </label>
        </div>
        <div class="switch">
            <label>
                Landmarks
                <input type="checkbox" name="landmark">
                <span class="lever"></span>
            </label>
        </div>
        <div class="switch">
            <label>
                Monuments
                <input type="checkbox" name="monument">
                <span class="lever"></span>
            </label>
        </div>
        <div class="switch">
            <label>
                Local Events
                <input type="checkbox" name="localevents">
                <span class="lever"></span>
            </label>
        </div>
        <div class="switch">
            <label>
                Nature
                <input type="checkbox" name="museum">
                <span class="lever"></span>
            </label>
        </div>
    </div>
</div>


{{!-- <div class="row"> --}}
<div class="input-field col s6 center-align">
    <label for="guide_status">
    {{!-- <input id="guide_status" name="guide_status" type="checkbox" /> --}}
    {{!-- <input name="guide_status" type="checkbox" checked=1 >  --}}
    <span>Are you open to be a guide?</span>
    </label>
 </div>
{{!-- </div> --}}


<div class="col s6 right-align">
    {{!-- <input class="btn" type="submit" value="Sign Up" /> --}}
    <button class="waves-effect waves-light btn-large" type="submit" class="validate" value="Sign Up" />
        <i class="material-icons left">send</i>Sign up 
    </button>

</div>


</form>
</div>

