<div class="content container">
  <div class="row">
    <div id="wrapper1" class="col s5 offset-s1 input-field">
      <input type="date" id="start1" class="datepicker-start" />
      <label for="start1"></label>
    </div>
    <div id="wrapper2" class="col s5 input-field">
      <input type="date" id="end1" class="datepicker-end" />
      <label for="end1"></label>
    </div>
  </div>
  
  {{!-- <div class="row">
    <div id="wrapper3" class="col s5 offset-s1 input-field">
      <input type="date" id="start2" class="datepicker-start" />
      <label for="start2">Start Date</label>
    </div>
    <div id="wrapper4" class="col s5 input-field">
      <input type="date" id="end2" class="datepicker-end" />
      <label for="end2">End Date</label>
    </div>
  </div> --}}
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>