{{!-- FOR TESTING --}}
<style>
    ul {
        list-style: none;
    }
</style>
<<<<<<< HEAD
{{!-- TRIP HANDLEBARS WITHOUT MODELS --}} {{> nav/navbar-no-search}}
<br>
<br>
<form action="/api/trips" method="post">
    <div class="content container">
        {{!-- added UserId for testing --}}
        <div id="wrapper3">
            <input type="number" id="UserId" placeholder="UserId" />
        </div>
        {{!-- ends --}}
        <div>
            <div class="form-group">
                <label for="category">Who is posting</label>
                <select class="custom-select" id="author">
                </select>
            </div>
            <div class="input-group">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="search" id="address" autocomplete="on" class="form-control address" placeholder="Destination" style="padding-left: 8px; margin: 0; right: 2px"
                />
            </div>
        </div>
        <div id="wrapper1" class="col s5 offset-s1 input-field">
            <input type="date" id="startDate" class="datepicker-start" />
            <label for="startDate"></label>
        </div>
        <div id="wrapper2" class="col s5 input-field">
            <input type="date" id="endDate" class="datepicker-end" />
            <label for="endDate"></label>
        </div>
        <div>
            <label for="trip-remark">Trip Remarks</label>
            <textarea class="form-control" id="trip-remark" aria-describedby="trip-description" placeholder="Enter Trip Description"></textarea>
        </div>

        {{!-- KEVIN'S CHECK BOX INTERESTS --}}
        <div class="row">
            <h5 class="centered-headline">What are your interests?</h5>
        </div>
        <div class="row">
            <div class="interests">
                <div class="switch">
                    <label>
                        Food
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Food">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch">
                    <label>
                        Music
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Music">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch">
                    <label>
                        Shows
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Boat">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch">
                    <label>
                        Sports
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Sports">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch">
                    <label>
                        Landmarks
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Landmark">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch">
                    <label>
                        Monuments
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Monument">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch">
                    <label>
                        Local Activities
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Local Activity">
                        <span class="lever"></span>
                    </label>
                </div>
                <div class="switch">
                    <label>
                        Museums
                        <input type="checkbox" class="interest-checkbox" name="interests" value="Museum">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>


        {{!-- END KEVIN'S CHECK BOX INTERESTS --}}
        <br>
        <div class="row">
            <button id="submitT" data-target="matchinghost" class="btn modal-trigger btn btn-primary float-right">Submit</button>
        </div>

</form>

<!-- Modal Structure! 18/12/04 Below MODAL POP UP for all the matching host for the trip the user JUST searched -->
<div id="matchinghost" class="modal">
    <div class="modal-content">
        <h4>Choose your Host</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="confirm modal-close waves-effect waves-green btn-flat" id="confirm">Agree</a>
    </div>
</div>
<!-- 18/12/04 Above MODAL POP UP for all the matching host for the trip the user JUST searched -->


<h4>{{msg}}</h4>
<ul id="tripList">
    {{#each trip}} {{> trips/trip}}
    <br> {{/each}}
</ul>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/trip.js"></script>
<script src="/routes/trip-api-routes.js"></script>
=======
{{!-- TRIP HANDLEBARS WITHOUT MODELS --}}
<div id="navbar">
    {{> nav/navbar-no-search}}
</div>

<br>
<br>
<div class="content container">

    <h4>{{msg}}</h4>
    <ul id="tripList">
        {{#each trip}}
        {{> trips/trip}}
        <br>
        {{/each}}
    </ul>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/trip.js"></script>
>>>>>>> 4d0ee654a463c2c2f9e4ebba10ec06102c374f26
