<div id="home">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="centered-headline">{{msg}}</h2>
        <div class="container s12 l12">
          <form action="">
            <div class="input-field col s12">
              <input type="text" id="user_name" class="validate">
              <label for="user_name">User Name</label>
            </div>
             <div class="input-field col s12">
              <input type="email" id="userEmail" class="validate">
              <label for="email" data-error="wrong" data-success="right">Email Address</label>
            </div>
             <div class="input-field col s6">
              <input type="text" id="password" class="validate">
              <label for="gender">Password</label>
            </div>
             <div class="input-field col s12">
              <input type="link" id="profilePicUrl" class="validate">
              <label for="email" data-error="wrong" data-success="right">Profile Photo URL</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="text" id="first_name" class="validate">
              <label for="firstName">First Name</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="text" id="last_name" class="validate">
              <label for="lastName">Last Name</label>
            </div>       
            <div class="input-field col s6">
              <input type="text" id="gender" class="validate">
              <label for="gender">Gender</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="date" id="DOB" class="datepicker">
              <label for="textarea1">Date of Birth</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="hometown" class="materialize-textarea"></textarea>
              <label for="address">Hometown</label>
            </div>
            <div class="input-field col s12">
              <textarea id="bio" class="materialize-textarea"></textarea>
              <label for="bio">About Me</label>
            </div>
            <div class="input-field col s6">
              <input id="guideStatus" type="checkbox" />
              <label for="guideStatus">Will you be a Guide?</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/user.js"></script>