{{> nav/navbar}}

<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="centered-headline">Join Localize</h4>
      <div class="container s12 l12">
        <form action="/api/users" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="username" class="validate" name="user_name">
              <label for="user-name">User Name</label>
            </div>
            <div class="input-field col s12">
              <input type="email" id="user-email-address" class="validate" name="email">
              <label for="user-email" data-error="wrong" data-success="right">Email Address</label>
            </div>
            <div class="input-field col s6">
              <input type="number" id="phonenum" class="validate" name="phonenumber">
              <label for="phone-number">Phone Number</label>
            </div>
            <div class="input-field col s6">
              <input type="password" id="user-password" class="validate" name="password">
              <label for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <input type="text" id="profile-photo" class="validate" name="profile_pic_url">
              <label for="profile-photo" data-error="wrong" data-success="right">Profile Photo URL</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="text" id="first-name" class="validate" name="first_name">
              <label for="first-name">First Name</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="text" id="last-name" class="validate" name="last_name">
              <label for="last-name">Last Name</label>
            </div>
            <div class="input-field col s6">
              <input type="text" id="gender" class="validate" name="gender">
              <label for="gender">Gender</label>
            </div>
            <div class="input-field col s12 l6">
              <input type="date" id="DOB" class="datepicker" name="DOB">
              <label for="DOB"></label>
            </div>
            <div class="input-field col s12">
              <input type="text" id="hometown" class="validate" name="hometown">
              <label for="hometown">Hometown</label>
            </div>
            <div class="input-field col s12">
              <textarea id="bio" class="materialize-textarea" name="bio"></textarea>
              <label for="bio">About Me</label>
            </div>
            <div class="input-field col s12">
              <textarea id="languages" class="materialize-textarea" name="languages"></textarea>
              <label for="languages">What languages do you speak?</label>
            </div>
            <div class="input-field col s12">
              <textarea id="why-on" class="materialize-textarea" name="whyOn"></textarea>
              <label for="why-on">Why I am on Localize</label>
            </div>
            <div class="input-field col s12">
              <textarea id="one-A-thing" class="materialize-textarea" name="one_Athing"></textarea>
              <label for="one-A-thing">One Amazing Thing I've Done</label>
            </div>
            <div class="input-field col s12">
              <textarea id="hobby" class="materialize-textarea" name="hobby"></textarea>
              <label for="hobby">Favourite Music, Movies, and Books</label>
            </div>
            <div class="input-field col s12">
              <textarea id="countries-lived" class="materialize-textarea" name="countries"></textarea>
              <label for="countries-lived">Countries I’ve Lived In</label>
            </div>
            <div class="input-field col s12">
              <textarea id="what-I-share" class="materialize-textarea" name="what_I_share"></textarea>
              <label for="what-I-share">What can you share with other Localizers</label>
            </div>
          </div>
          {{!-- KEVIN'S CHECK BOX INTERESTS --}}
          <div class="row">
            <h5 class="centered-headline">What are your interests?</h5>
          </div>
          <div class="row" id="user-interests">
            <div class="interests">
              <div class="switch">
                <label>
                  Food
                  <input type="checkbox" name="food">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Music
                  <input type="checkbox" name="music">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Concerts
                  <input type="checkbox" name="concert">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Sports
                  <input type="checkbox" name="sports">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Landmarks
                  <input type="checkbox" name="landmark">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Monuments
                  <input type="checkbox" name="monument">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Local Events
                  <input type="checkbox" name="localevents">
                  <span class="lever"></span>
                </label>
              </div>
              <div class="switch">
                <label>
                  Nature
                  <input type="checkbox" name="museum">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
          </div>
          {{!-- KEVIN'S CHECK BOX INTERESTS --}}
          <br>
          <div class="row">
            <div class="input-field col s6 center-align">
              <label for="guideStatus">
                <input id="guideStatus" type="checkbox" />
                <span>Are you open to be a guide?</span>
              </label>
            </div>
            <div class="col s6">
              <button id="submitU" class="waves-effect waves-light btn-large">Join
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/user.js"></script>