<style>
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.footer li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.footer li a:hover {
    background-color: #111111;
}
</style>

<br><br><br><br>
<div class="footer">
  {{!-- <div class="container">
    <div class="row"> --}}
      <div class="s12">
        <ul>
          <li class="page-link">
            <a href="/">Dashboard: "/"</a>
          </li>
          <li class="page-link">
            <a href="/register">User Form: "/register"</a>
          </li>
          <li class="page-link">
            <a href="/homepage">Homepage: "/homepage"</a>
          </li>
          <li class="page-link">
            <a href="/user">Users: "/"</a>
          </li>
          <li class="page-link">
            <a href="/user/1">User's Profile page: "/user/:id"</a>
          </li>
          <li class="page-link">
            <a href="/trips">All Trips: "/trips"</a>
          </li>
          <li class="page-link">
            <a href="/trip/:1">Trip: "/trip/:id"</a>
          </li>
          <li class="page-link">
            <a href="/users/trips/upcoming">Upcoming Trip: "/users/trips/upcoming"</a>
          </li>
<li class="page-link">
            <a href="/users/trips/past">Past Trip: "/users/trips/past"</a>
          </li>
<li class="page-link">
            <a href="/rating">Rating: "/rating"</a>
          </li>

          <li class="page-link">
            <a href="/*">404: "/*"</a>
          </li>
        </ul>
      </div>
    {{!-- </div>
  </div> --}}
</div>