<br><br><br><br>
<div class="footer">
  {{!-- <div class="container">
    <div class="row"> --}}
      <div class="s12">
        <ul>
          <li class="page-link">
            <a href="/users">View all users: "/users"</a>
          </li>
          <li class="page-link">
            <a href="/plantrip">New trip: "/trip_form"</a>
          </li>
          <li class="page-link">
            <a href="/trip/:1">Sample trip: "/trip/1"</a>
          </li>
          <li class="page-link">
            <a href="/*">Test 404: "/*"</a>
          </li>
        </ul>
        <span class="copyright">Team Startup - Copyright 2018</span>
      </div>
    {{!-- </div>
  </div> --}}
</div>