
<a href="#" class="collection-item avatar list-group-item">
    <img src="https://picsum.photos/640/360" alt="" class="circle">
    <span class="title">Bear Bearstein</span> - Seattle, WA<br>
    <p>
        I'm a Seattle Sports Nut! If you're in town for a game, I can show you a great bar or two!
    </p>
    {{!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> --}}
</a>