.list-group-item {
  line-height: 2.5;
}

.centered-headline {
  text-align: center;
}

body {}
  .trip-summary-container {
    background: rgb(99, 194, 231);
    color: aliceblue;
    padding: 20px;
    height: 100%;
  }
  .profile-pic {
    float: left;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
  }
  .profile-name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
  }
  /* img {
    height: auto;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
} */
  /* img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    align-self: center;
    width: 100%;
  } */
  .trip-interests {
    list-style: none;
    display: inline;
  }
  .pill {
    background: rgb(116, 218, 252);
    border-radius: 10px;
    margin: 0 16px 0 0;
    padding: 4px 16px;
    display: inline;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
  }
  .gender {
    background: rgb(139, 252, 116);
  }
  .language {
    background: rgb(252, 116, 161);
  }
  nav .brand-logo {
        color: black;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 800;
        margin-left: 20px;
    }
  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  p{
    font-family: 'Roboto', sans-serif;
  }