    {{!-- KEVIN'S CHECK BOX INTERESTS --}}
    <div class="row">
        <h5 class="centered-headline">What are your interests?</h5>
    </div>
    <div class="row">
        <div class="interests">
            <div class="switch">
                <label>
                    Food
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Food">
                    <span class="lever"></span>
                </label>
            </div>
            <div class="switch">
                <label>
                    Music
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Music">
                    <span class="lever"></span>
                </label>
            </div>
            <div class="switch">
                <label>
                    Shows
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Boat">
                    <span class="lever"></span>
                </label>
            </div>
            <div class="switch">
                <label>
                    Sports
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Sports">
                    <span class="lever"></span>
                </label>
            </div>
            <div class="switch">
                <label>
                    Landmarks
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Landmark">
                    <span class="lever"></span>
                </label>
            </div>
            <div class="switch">
                <label>
                    Monuments
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Monument">
                    <span class="lever"></span>
                </label>
            </div>
            <div class="switch">
                <label>
                    Local Activities
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Local Activity">
                    <span class="lever"></span>
                </label>
            </div>
            <div class="switch">
                <label>
                    Museums
                    <input type="checkbox" class="interest-checkbox" name="interests" value="Museum">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    </div>
    {{!-- END KEVIN'S CHECK BOX INTERESTS --}}