   <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper white">
                <i src="assets/img/localize.png" class="brand-logo blue-text text-darken-2">Localize</i>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><input type="search" id="address" class="form-control" placeholder="Where are we going?" />
                    </li>
                    

                    <li><a button type="button" class="btn btn-secondary"><i class="material-icons">
                                account_circle
                            </i></button></a></li>
                    <li><a button type="button" class="btn btn-secondary"><i class="material-icons">
                                email
                            </i></button></a></li>
                    <li><a button type="button" class="btn btn-secondary" id="loginBtn">Signout</button></a></li>
                </ul>
            </div>
        </nav>
    </div>