
<a href="#" class="collection-item avatar list-group-item">
    <img src="https://picsum.photos/640/360" alt="" class="circle">
    <span class="title">{{this.destination}}</span> - {{this.start_date}} <br>
    <p>
        Summary of the trip.
    </p>
    {{!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> --}}
</a>